<% especies.each do |especie| %>
    <a href="/especies/<%= especie.genero_nombre %>_<%= especie.nombre %>" class="card especie-wrapper waves-effect waves-teal">
      <img src="<%= especie.thumbnail_path %>" class="responsive-img thumbnail">
      <div class="especie-info">
        <div class="especie-nombre">
          <%= especie.nombre_cientifico %>
        </div>
        <div class="especie-familia">
          <%= especie.familia_nombre %>
        </div>
        <div class="especie-detalles">
          <img src="icons/ic_fv_<%= especie.forma_vida1_nombre %>.png" class="especie-detalle ic_fv_<%= especie.forma_vida1_nombre %>">
          <img src="icons/ic_fv_<%= especie.forma_vida2_nombre %>.png" class="especie-detalle ic_fv_<%= especie.forma_vida2_nombre %>">
          <img src="icons/ic_cl_<%= especie.color1_nombre %>.png" class="especie-detalle ic_cl_<%= especie.color1_nombre %>">
          <img src="icons/ic_cl_<%= especie.color2_nombre %>.png" class="especie-detalle ic_cl_<%= especie.color2_nombre %>">
        </div>
      </div>
    </a>
<% end %>
